- @no_breadcrumb_border = true
- can_update_merge_request = can?(current_user, :update_merge_request, @merge_request)
- can_reopen_merge_request = can?(current_user, :reopen_merge_request, @merge_request)
- are_close_and_open_buttons_hidden = merge_request_button_hidden?(@merge_request, true) && merge_request_button_hidden?(@merge_request, false)
- cache_key = [@project, @merge_request, can_update_merge_request, can_reopen_merge_request, are_close_and_open_buttons_hidden, current_user&.preferred_language]

= cache(cache_key, expires_in: 1.day) do
  - if @merge_request.closed_or_merged_without_fork?
    = render Pajamas::AlertComponent.new(alert_class: 'gl-mb-5',
      variant: :danger,
      dismissible: false) do |c|
      = c.body do
        = _('The source project of this merge request has been removed.')

  .detail-page-header.border-bottom-0.pt-0.pb-0
    .detail-page-header-body
      = render "shared/issuable/status_box", issuable: @merge_request

      .issuable-meta
        #js-issuable-header-warnings
        = issuable_meta(@merge_request, @project)

      %a.gl-button.btn.btn-default.btn-icon.float-right.d-block.d-sm-none.gutter-toggle.issuable-gutter-toggle.js-sidebar-toggle{ href: "#" }
        = sprite_icon('chevron-double-lg-left')

    .detail-page-header-actions.js-issuable-actions
      - if @merge_request.source_project
        = render 'projects/merge_requests/code_dropdown'

      - if can_update_merge_request
        = link_to _('Edit'), edit_project_merge_request_path(@project, @merge_request), class: "gl-display-none gl-md-display-block btn gl-button btn-default btn-grouped js-issuable-edit", data: { qa_selector: "edit_button" }

      - if current_user
        = render 'projects/merge_requests/close_reopen_draft_report_toggle'
